*{
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  padding: 0%;
  margin: 0%;
  background-color: rgb(15, 15, 15);
}
body{
  overflow-x: hidden;
}
.header{
  background-color: rgb(15, 15, 15);
  display: flex;
  align-items: center ;
  position: fixed;
  top: 0px;
  z-index: 1;
  height: 70px;
  width: 100%;
 
}
.header .menu{ 
  color: aliceblue;
  margin-left: 20px;
  font-size:19px;
  cursor: pointer;
  
}
.header .logo img{
    width: 100px;
    margin-left:25px;  
    cursor: pointer;  
}
 .header .search-bar{
  display: flex;
}
.header .search-bar input{
  width: auto;
  height: 35px;
  margin-left: 280px;
  background-color: rgb(15, 15, 15);
  color: rgb(255, 255, 255);
  font-size: 1em;
  border-style: solid;
  border-width: 1px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  padding-left: 15px;
  padding-right: 280px;
  border-color: rgb(48, 48, 48);
}
.header .search-icon{
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    background-color: rgb(0, 0, 0);
    border-color: rgb(48, 48, 48);
    padding: 4.5px 10px;
    border-style: solid;
    border-left: 0px;
    border-width:1px;
    display: inline-block;
    cursor: pointer;
    font-size:20px;
  }
  .header .mic{

    padding: 5px 9px;
    border-radius: 30px;
    background-color: rgb(30, 29, 29);
    margin-left: 20px;
    margin-right: 280px;
    mix-blend-mode: lighten;
  }
  .header .upload{
    font-size: 10px;
    margin-right:20px;
  }
  .header .profile img{ 
    border-radius: 20px;
   }
   .header .bell{
    margin-right: 20px;
   }


  .head-main .home{
  margin-left: 20px;
  display: inline-block;
  transform: translateY(5px);
  mix-blend-mode: lighten;
  }

  
   .head-main{
    position: fixed;
    top: 70px;
    display: inline-block;
    align-items: center;
    width: 210px;
    height: 100%;
    background-color: rgb(15, 15, 15);
  }
  .head-main .head{
    position: fixed;
    display: inline-block;
    align-items: center;
    width: 210px;
    height: 100%;
    background-color: rgb(15, 15, 15);
  } 
  .head-main .home-main{
    background-color: rgb(15, 15, 15);
    height: 35px;
    border-radius: 15px;
    cursor: pointer;
    margin-bottom: 10px;
  }
 
  .home:active{
    background-color: rgb(156, 156, 156);
    transition: 0.20s;
  }
   .home-main:hover{
    background-color: rgb(48, 48, 48);
    transition: 0.50s;
  }
  .line{
    border-style: solid;
    border-color: rgb(48, 48, 48) ;
  }
  .home-main .h-text{
    font-size: 16px;
    margin-left: 20px;
    display: inline-block;
    color: rgb(255, 255, 255);
    mix-blend-mode: lighten;
 
  }
  .second-top-bar{
    position: fixed;
    top: 70px;
    left: 210px;
    z-index: 1;
    background-color: rgb(15, 15, 15);
    height: 40px;
    width: 100%;
  }
  .second-top-bar .all{
    margin-right: 20px;
    border-radius: 10px;
    color: white;
    padding: 4px 18px;
    border-style: none;
    background-color: rgb(48, 48, 48)
  
  }
  .second-top-bar .all:hover{
    background-color: rgb(80, 83, 86);
    transition: 0.50s;
  }
  .video-main-container{
    margin-left: 210px;
    margin-top: 110px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    column-gap: 30px;
    row-gap: 50px;

   }
   .video-main-container .thumbnail-video{
  
    flex-direction: column;
    width: 380px;
    background-color: rgb(15, 15, 15);
   }
  
   .thumbnail-pic .thumbnail-image{
    border-radius: 15px;
    height: 225px;
    width: 380px;
   }
   .thumbnail-pic img:hover{
    border-radius: 0%;
   }
   .thumbnail-pic .time{
      position: relative;
      bottom: 28px;
      left: 335px;
      font-size: 15px;
      color: aliceblue;
      background-color: rgb(15, 15, 15);
      padding-top: 1px;
      padding-left: 4px;
      padding-right: 4px;
      padding-bottom: 1px;
      width: 30px;
      border-radius: 5px;
   }
   .video-main-container .video-details{
    display: flex;
    justify-content: space-between;
   }
   .thumbnail-video .thumbnail-icon img{
    width: 40px;
    border-radius: 20px;
   }

    .thumbnail-video .main-content{
      font-family: "Roboto","Arial",sans-serif;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    
     }
     .main-content .thumbnail{
      margin-left: 10px;
      margin-right: 20px;
      display: flex;
      flex-wrap: wrap;
      justify-content: flex-start;
      overflow: hidden;
      line-height: 25px;
      font-weight: bold;
      color: rgb(255, 255, 255);
     }
     .main-content .channel-name{

      padding-bottom: 3px;
      font-size: 15px;
      padding-left: 10px;
      margin: 0%;
      color: rgb(170, 170, 170)
     }
     .main-content  .views-year{
      display: inline-block;
      font-weight: 500;
       margin: 0px;
       padding: 0%;
       font-size: 14px;
       width: 367px;
       padding-left: 10px;
       color: rgb(170, 170, 170)
      }
     
   










